<ul>
  <% @files.each do |file| %>
    <li>
      <span>
        <a href='/<%= file %>'><%= file %></a>
        <a href='/<%= file %>/edit'>Edit</a>
        <form class='inline' action='/<%= file %>/delete' method='post'>
          <button type='submit'>Delete</button>
        </form>
      </span>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>
<% if session[:user] %>
  <em>Signed in as <%= session[:user][:name] %>.</em>
  <form class='inline' method='post' action='/users/signout'>
    <button type='submit'>Sign Out</button>
  </form>
<% else %>
  <form class='inline' method='get' action='/users/signin'>
    <button type='submit'>Sign In</button>
  </form>
<% end %>