<ul>
  <% @files.each do |file| %>
    <li>
      <span>
        <a href='/<%= file %>'><%= file %></a>
        <a href='/<%= file %>/edit'>Edit</a>
        <form class='inline' action='/<%= file %>/delete' method='post'>
          <button type='submit'>Delete</button>
        </form>
      </span>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>
<% if session[:user] %>
  <form method='post' action='/users/signout'>
    <p class='user-status'>
      Signed in as <%= session[:user] %>.
      <button type='submit'>Sign Out</button>
    </p>
  </form>
  </p>
<% else %>
  <p class='user-status'><a href='/users/signin'>Sign In</a></p>
<% end %>